@font-face {
    font-family: vellago;
    src: url(Vellago.otf);
}

@font-face {
    font-family: vintage;
    src: url("Fonts css/LuxuriousScript-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Medium.ttf");
}

@font-face {
    font-family: urbanist;
    src: url(Urbanist-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: beige;
}

.home {
    width: 4rem;
}

header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-family: Montserrat;
    color: white;
    overflow: auto;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header input {
    border-radius: 10px;
    opacity: 50%;
    padding-left: 10px;
}

.gp {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0) ), url(_MG_0219.png);
    background-position: center center;
    background-size: cover;
    height: 650px;
    width: 100%;
}

#main {
    height: 500px;
}

.texto1 {
    display: flex;
    justify-content: end;
    width: 40rem;
    padding-left: 33rem;
    margin: 1rem;
    font-size: 20px;
}

.main {
    font-size: 5rem;
    font-family: vellago;
    display: flex;
    justify-content: end;
    padding-right: 8rem;
    padding-top: 5rem;
    color: #0c4723;
}

.img1 {
    width: 25rem;
    height: 43rem;
    left: 5rem;
    border-radius: 10%;
    position: absolute;
    top: 43rem;
}

#second {
    background-color: #0c4723;
    height: 600PX;
}

.titulo_do_produto, .titulo {
    display: flex;
    justify-content: end;
    font-family: vellago;
    font-size: 100px;
    padding-right: 50px;
    padding-top: 20px;
    color: beige;
    position: relative;
}

.texto_do_produto {
    width: 500px;
    font-size: 25px;
    padding-left: 40px;
    font-family: vellago;
    color: beige;
}

.parte_final {
    display: flex;
    font-family: vellago;
    font-size: 90px;
    padding-top: 6rem;
    justify-content: center;
}

.oficial {
    align-items: center;
    height: 700px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    justify-content: center;
    align-content: center;
    height: 800px;
    position: relative;

}

.staff {
    width: 12rem;
    height: 16rem;
}

figure {
    font-family: urbanist;
}

.parceiros {
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding-top: 300px;
    font-family: vellago;
}

figcaption {
    font-size: 15px;
}

.img3 {
    width: 300px;
    padding-left: 200px;
    padding-top: 100px;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 5rem;
    justify-content: center;
}

.end {
    width: 20rem;
    margin: 1rem;
}

nav {
    cursor: pointer;
    border: none;
}

@media (max-width: 760px) {
    header {
        width: 100%;
        font-size: 7px;
        padding-left: 0;
        justify-content: space-evenly;
    }

    input {
        width: 10px;
        padding-left: 0;
    }

    .logo {
        width: 100%;
    }

    main {
        height: 30rem;
        display: flex;
        justify-content: center;
    }

    .texto1 {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-left: 1rem;
        width: 22rem;
    }

    .main {
        font-size: 45px;
        display: flex;
        justify-content: center;

    }

    .img1 {
        top: 44rem;
        width: 25rem;
        height: 15rem;
        display: flex;
        justify-content: center;
        left: 7px;
    }

    .texto_do_produto {
        width: 100%;
        font-size: 1rem;
        justify-content: start;
        padding-left: 0;
    }

    .img2 {
    position: absolute;
    height: 650px;
    width: 100px;
    left: 100px; 
    top: 1600px; 
    border-radius: 10%;
    display: none;
    }

    figcaption {
        font-size: 10px;
    }

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        height: 100%;
        position:initial;
        gap: 10px;
        padding-top: 15rem;
        justify-content: center;
    }

    .staff {
        width: 10rem;
        height: 10rem;
    }

    .parte_final {
        left: 20px;
    }

    .parceiros {
        font-size: 20px;
    }

    .img3 {
        width: 5rem;
        display: grid;
        grid-template-columns: 2fr;
        padding: 0;
    }

    .footer {
        width: 2rem;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        gap: 30px;
        padding-left: 2rem;
    }

    .end {
        width: 10rem;
        margin: 10px;
    }

}