@font-face {
    font-family: vellago;
    src: url(Vellago.otf);
}

@font-face {
    font-family: vintage;
    src: url("Fonts css/LuxuriousScript-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Medium.ttf");
}

@font-face {
    font-family: urbanist;
    src: url(Urbanist-VariableFont_wght.ttf);
}

@font-face {
    font-family: Poppins;
    src: url("Poppins-Medium.ttf");
    font-family: POBOLD;
    src: url("Poppins-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: beige;
}

.home {
    width: 4rem;
}

header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-family: Montserrat;
    color: white;
    overflow: auto;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav {
    transition-duration: 0.4s;
}

nav:hover {
    color: #f0fd71;
    border-radius: 5%;
}

.gp {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
    background-image: url("_MG_0219.png");
    background-position: center center;
    background-size: cover;
    height: 650px;
    width: 100%;
}

.staff {
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


#main {
    height: 500px;
}

.texto1 {
    color: #0c4723;
    font-family: Poppins;
    display: flex;
    justify-content: end;
    width: 40rem;
    padding-left: 33rem;
    margin: 1rem;
    font-size: 20px;
}

.main {
    font-size: 5rem;
    font-family: vellago;
    display: flex;
    justify-content: end;
    padding-right: 8rem;
    padding-top: 5rem;
    color: #0c4723;
}

.img1 {
    width: 25rem;
    height: 43rem;
    border-radius: 10%;
    position: absolute;
    top: 43rem;
}

#second {
    background-color: #0c4723;
    height: 600PX;
}

.titulo_do_produto, .titulo {
    display: flex;
    justify-content: end;
    font-family: vellago;
    font-size: 100px;
    padding-right: 50px;
    color: beige;
    position: relative;
}

.texto_do_produto {
    width: 500px;
    font-size: 25px;
    font-family: Poppins;
    color: beige;
}

.parte_final {
    display: flex;
    font-family: vellago;
    font-size: 90px;
    padding-top: 6rem;
    justify-content: center;
}

.oficial {
    align-items: center;
    height: 700px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    justify-content: center;
    align-content: center;
    height: 800px;
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto;
}

.staff {
    width: 12rem;
    height: 16rem;
}

figure {
    font-family: urbanist;
}

.parceiros {
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding-top: 300px;
    font-family: vellago;
}

figcaption {
    font-size: 15px;
}

@media (max-width: 600px) {
body {
    width: 100%;
}
header {
    width: 100%;
    font-size: 5px;
    padding-left: 0;
    padding-right: 0;
}
.home {
    padding: 0;
    margin: 0;
    width: 3rem;
}
.logo {
    width: 100%;
}

#main {
    height: auto;
}

main {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
}

.texto1 {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 0;
    padding-left: 1rem;
    font-size: 15px;
    width: 19rem;
}
.main {
    padding: 0;
    padding-top: 2rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main2 {
    margin: 0;
    font-size: 6rem;
    font-family: vellago;
    display: flex;
    justify-content: center;
    color: #0c4723;
    margin-top: -20px;
    font-size: 3rem;
}

.img1 {
    margin: -7em;
    top: 26rem;
    width: 25rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    left: 7px;
    display: none;
}

.titulo_do_produto, .titulo {
    display: flex;
    padding: 0;
    justify-content: center;
    text-align: center;
    font-family: vellago;
    font-size: 3rem;
    color: beige;
}

.texto_do_produto {
    width: 19rem;
    font-size: 14px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-bottom: 10px;
    align-items: center;
    padding-left: 2.2rem;
}

#second {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

figcaption {
    font-size: 15px;
}

.parte_final {
    color: #0c4723;
    display: flex;
    font-family: vellago;
    font-size: 70px;
    padding-top: 4rem;
    justify-content: center;
    text-align: center;
}

.gr {
    width: 150px;
    grid-column: 1 /  1;
}

.gr2 {
    width: 337px;
}

#second {
    height: auto;
}

.oficial {
    height: auto;
}

.parte_final {
    padding-top: 2rem;
    font-size: 45px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    height: 180px;
    position:initial;
    padding-top: 21rem;
    justify-content: center;
    gap:10px;
}

.gr {
    width: 100px;
    grid-column: 1/ 1;
}

.gr2 {
    width: 225px;
}

.gr3 {
    width: 225px;
    grid-column: 1;
}

.gr4 {
    width: 100px;
    grid-column: 3 / 3;
}

.grid2 {
    display: grid;
    grid-template-columns: 100px 115px auto;
    align-items: center;
    justify-content: center;
    position: initial;
    padding-top: 23rem;
    gap: 10px;
    padding-bottom: 2rem;
}

.staff {
    width: 8em;
    height: 200px;
}

figcaption {
    font-size: 1px;
    width: 140px;
}
    
.finish {
    height: auto;
    background-color: #1F3922;
}

.parceiros {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 3rem;
    font-family: Poppins;
    color: #F2EADF;
}

.pr {
    font-family: POBOLD;
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-right: 0;
    margin-top: -25px;
    color: #f0fd71;
}

.bordam {
    font-family: Poppins;
    font-size: 10px;
    color: #F2EADF;
    display: flex;
    justify-content: center;
}

.texto_parceiros {
    font-family: Poppins;
    font-size: 15px;
    color: #F2EADF;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 19rem;
    padding-left: 2.2rem;
    padding-top: 2rem;
}

figcaption {
    font-size: 15px;
}

.sp {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.green {
    width: 100px;
    height: 50px;
    background-color: beige;
    border-radius: 10%;
}

.grnn {
    width: 100px;
    height: 50px;
    background-color: beige;
    border-radius: 10%;
}

.ative {
    background-color: beige;
    height: auto;
    padding-bottom: 3rem;
}

.impacto {
    font-family: POBOLD;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-left: 1rem;
    width: 18rem;
    color: #1F3922;
}

.gf {
    color: #89AD65;
}

.im {
    font-family: Poppins;
    font-size: 0.5rem;
    width: 14rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
    color: #1F3922;
}

.map {
    width: 180px;
    height: 150px;
    border-radius: 10%;
    margin: 1rem;
}

.grid3 {
    display: grid;
    grid-template-columns: 1FR 1FR;
}

.cestas {
    width: 10.2rem;
    font-family: Poppins;
    font-size: 0.8rem;
    padding-top: 3rem;
    color: #1F3922;
}

.bairro{
    font-size: 0.5rem;
}

button {
    cursor: pointer;
    border-radius: 80px;
    color: white;
    padding: 5px 20px;
    border: none;
    margin-top: 1rem;
    background: #108C0E;
    background: linear-gradient(90deg, rgba(16, 140, 14, 1) 0%, rgba(29, 219, 26, 1) 50%);
}

.BENEFÍCIOS {
    height: 250px;
    background: #1F3922;
}

.benefícios {
    font-family: Poppins;
    font-size: 1.5rem;
    color: beige;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.pt {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
}

.planta {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.sol {
    height: auto;
    padding-bottom: 2rem;
}

.solicitar {
    font-family: POBOLD;
    font-size: 2rem;
    color: #0c4723;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.passos {
    font-family: Poppins;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
}

.passo_a_passo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
    padding-top: 2rem;
}

.pt {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.planta {
    width: 60px;
    height: auto;
}

.ps {
    font-family: Poppins;
    font-size: 0.9rem;
    width: 10rem;
    text-align: center;
    color: #0c4723;
}

.one {
    width: 30px;
    height: auto;
    opacity: 50%;
}

.mao {
    display: none;
}

.folha {
    display: none;
}

.fot {
    display: flex;
    justify-content: space-evenly;
    background:#1F3922;
    padding-top: 2rem;
    height: auto;
    padding-bottom: 2rem;
}

ul {
    width: 70px;
    color: white;
    font-family: Poppins;
    font-size: 6px;
    text-align: start;
}

.env {
    width: 20px;
    height: auto;
    padding-bottom: 1rem;
}

.foo {
    padding-bottom: 2rem;
    font-size: 10px;
}

.numero {
    padding-top: 1rem;
}

.linha {
    height: 150px;
    border-right: 1px solid white;
}

.pix {
    font-family: Poppins;
    font-size: 8px;
    padding-top: 1rem;
}

}

@media (min-width: 768px) {

    body {
        width: 100%;
    }

    header {
        width: 100%;
        font-size: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    .home {
        width: 2rem;
    }

    .logo {
        width: 100%;
    }

    main {
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: center;
    }

    .texto1 {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-left: 1rem;
        width: 20rem;
    }

    .main {
        font-size: 45px;
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .img1 {
        top: 22rem;
        width: 8rem;
        height: 30rem;
        display: flex;
        justify-content: center;
        left: 7px;
    }

    .titulo_do_produto, .titulo {
        font-size: 45px;
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .texto_do_produto {
        width: 100%;
        font-size: 1rem;
        justify-content: end;
        padding-left: 0;
    }

    #second {
        height: 400px;
    }

    figcaption {
        font-size: 15px;
    }

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        height: 180px;
        position:initial;
        padding-top: 25rem;
        justify-content: center;
        gap: 40px;
    }

    .staff {
        width: 8em;
        height: 200px;
    }

    figcaption {
        font-size: 10px;
    }

    .parte_final {
        font-size: 3rem;
        padding-top: 2rem;
    }

    .parceiros {
        font-size: 3rem;
    }

    .img3 {
        width: 23rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .footer {
        width: 2rem;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        gap: 30px;
        padding-left: 2rem;
    }

    .end {
        width: 3rem;
        font-size: 20px;
    }

    .end2 {
        width: 3rem;
        font-size: 1px;
        padding-left: 1rem;
    }

}

@media (min-width: 992px) {
    
    body {
        width: 100%;
    }

    header {
        width: 100%;
        font-size: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    .home {
        width: 2rem;
    }

    .logo {
        width: 100%;
    }

    main {
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: center;
    }

    .texto1 {
        display: flex;
        justify-content: center;
        padding: 0;
        padding-left: 1rem;
        width: 20rem;
    }

    .main {
        font-size: 45px;
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .img1 {
        top: 22rem;
        width: 8rem;
        height: 30rem;
        display: flex;
        justify-content: center;
        left: 7px;
    }

    .titulo_do_produto, .titulo {
        font-size: 45px;
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .texto_do_produto {
        width: 100%;
        font-size: 1rem;
        justify-content: end;
        padding-left: 0;
    }

    #second {
        height: 400px;
    }

    figcaption {
        font-size: 15px;
    }

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        height: 180px;
        position:initial;
        padding-top: 25rem;
        justify-content: center;
        gap: 40px;
    }

    .staff {
        width: 8em;
        height: 200px;
    }

    figcaption {
        font-size: 10px;
    }

    .parte_final {
        font-size: 3rem;
        padding-top: 2rem;
    }

    .parceiros {
        font-size: 3rem;
    }

    .img3 {
        width: 23rem;
        height: 14rem;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .footer {
        width: 2rem;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        gap: 30px;
        padding-left: 2rem;
    }

    .end {
        width: 3rem;
        font-size: 20px;
    }

    .end2 {
        width: 3rem;
        font-size: 1px;
        padding-left: 1rem;
    }

}

@media (min-width: 1200px) {
    
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: beige;
}

.home {
    width: 4rem;
}

header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-family: Montserrat;
    color: white;
    overflow: auto;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

nav {
    transition-duration: 0.4s;
}

nav:hover {
    color: #f0fd71;
    border-radius: 5%;
}

.gp {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0) ), url(_MG_0219.png);
    background-position: center center;
    background-size: cover;
    height: 650px;
    width: 100%;
}

.staff {
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


#main {
    height: 500px;
}

.texto1 {
    display: flex;
    justify-content: end;
    text-align: end;
    width: 40rem;
    padding-left: 33rem;
    margin: 1rem;
    font-size: 20px;
}

.main {
    margin: 0;
    font-size: 5rem;
    font-family: vellago;
    display: flex;
    justify-content: end;
    padding-right: 10rem;
    padding-top: 4rem;
    color: #0c4723;
}

.main2 {
    margin: 0;
    font-size: 6rem;
    font-family: vellago;
    display: flex;
    justify-content: end;
    padding-right: 4rem;
    color: #0c4723;
    margin-top: -50px;
    font-size: 7rem;
}

.img1 {
    width: 50rem;
    height: 60rem;
    position: absolute;
    top: 55rem;
    padding: 0;
    margin: -10rem;
}

#second {
    background-color: #0c4723;
    height: 600PX;
}

.titulo_do_produto, .titulo {
    display: flex;
    justify-content: end;
    text-align: end;
    font-family: vellago;
    font-size: 90px;
    color: beige;
    padding-right: 7rem;
}

.texto_do_produto {
    display: flex;
    justify-content: center;
    width: 50rem;
    font-size: 25px;
    font-family: Poppins;
    color: beige;
    padding-left: 22rem;
    padding-top: 30px;
    text-align: end;
}

.parte_final {
    color: #0c4723;
    display: flex;
    font-family: vellago;
    font-size: 90px;
    padding-top: 4rem;
    justify-content: center;
}

.oficial {
    align-items: center;
    height: 2200px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    justify-content: center;
    align-content: center;
    height: 800px;
    padding-top: 11rem;
}

.gr {
    width: 200px;
    grid-column: 1 /  1;
}

.gr2 {
    width: 450px;
}

.gr3 {
    width: 450px;
    grid-column: 1;
}

.gr4 {
    width: 200px;
    grid-column: 3 / 3;
}

.grid2 {
    display: grid;
    grid-template-columns: 200px 240px auto;
    align-items: center;
    justify-content: center;
    position: initial;
    padding-top: 13rem;
    gap: 10px;
}

.staff {
    width: 12rem;
    height: 18rem;
}

figure {
    font-family: urbanist;
}

.finish {
    height: auto;
    background-color: #1F3922;
    padding-bottom: 10rem;
}

.parceiros {
    display: flex;
    font-size: 50px;
    padding-top: 10rem;
    font-family: Poppins;
    color: #F2EADF;
}

.pr {
    font-family: POBOLD;
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-top: -50px;
    color: #f0fd71;
}

.bordam {
    font-family: Poppins;
    font-size: 23px;
    color: #F2EADF;
    display: flex;
    justify-content: center;
}

.texto_parceiros {
    font-family: Poppins;
    font-size: 25px;
    color: #F2EADF;
    display: flex;
    justify-content: center;
    text-align: start;
    width: 935px;
    padding-left: 12rem;
    padding-top: 5rem;

}

figcaption {
    font-size: 15px;
}


.sp {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.green {
    width: 300px;
    height: auto;
    background-color: beige;
    border-radius: 50px;
}

.grnn {
    width: 300px;
    height: 150px;
    background-color: beige;
    border-radius: 50px;
    background-size: 50px;
}

.ative {
    background-color: beige;
    height: 800px;
    padding-bottom: 3rem;
}

.impacto {
    font-family: POBOLD;
    font-size: 3rem;
    padding-top: 10rem;
    padding-left: 6rem;
    width: 40rem;
    color: #1F3922;
}

.gf {
    color: #89AD65;
}

.im {
    font-family: Poppins;
    font-size: 1rem;
    width: 28rem;
    padding-left: 6rem;
    padding-top: 0.3rem;
    color: #1F3922;
}

.map {
    width: 400px;
    height: auto;
    border-radius: 10%;
    margin-left: 6rem;
    margin-top: 2rem;
}

.grid3 {
    display: grid;
    grid-template-columns: 550px auto;
}

.cestas {
    width: 26rem;
    font-family: Poppins;
    font-size: 2rem;
    padding-top: 6rem;
    color: #1F3922;
    font-weight: bold;
}

.bairro{
    font-size: 0.8rem;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    font-family: POBOLD;
    border-radius: 80px;
    color: white;
    padding: 15px 40px;
    border: none;
    margin-top: 1rem;
    background: #108C0E;
    background: linear-gradient(90deg, rgba(16, 140, 14, 1) 0%, rgba(29, 219, 26, 1) 50%);
}

.BENEFÍCIOS {
    height: 550px;
    background: #1F3922;
}

.benefícios {
    font-family: Poppins;
    font-size: 1.5rem;
    color: beige;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.sol {
    height: auto;
    padding-bottom: 5rem;
}

.solicitar {
    font-family: POBOLD;
    font-size: 5rem;
    color: #0c4723;
    display: flex;
    justify-content: center;
    padding-top: 9rem;
}

.passos {
    font-family: Poppins;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.mao {
    width: 500px;
    height: auto;
    position: absolute;
    left: 40rem;
    top: 290em;
    transform: rotate(-30deg);
}

.passo_a_passo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 6rem;
    padding-top: 5rem;
}

.pt {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
}

.planta {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.ps {
    font-family: Poppins;
    font-size: 2rem;
    width: 21.5rem;
    text-align: center;
    color: #0c4723;
}

.folha {
    width: 1000px;
    height: auto;
    position: absolute;
    margin-top: -26rem;
    margin-left: -9rem;
    transform: rotate(-18deg);
}

.fot {
    display: flex;
    justify-content: space-evenly;
    background:#1F3922;
    padding-top: 5rem;
    height: auto;
    padding-bottom: 5rem;
}

ul {
    width: 190px;
    color: white;
    font-family: Poppins;
    font-size: 15px;
    text-align: start;
}

.env {
    width: 30px;
    height: auto;
    padding-bottom: 1rem;
}

.foo {
    padding-bottom: 2rem;
    font-size: 20px;
}

.numero {
    padding-top: 1rem;
}

.linha {
    height: 200px;
    border-right: 1px solid white;
}

.pix {
    font-family: Poppins;
    font-size: 20px;
    padding-top: 1rem;
}

}